.t{
    color:red ;
}
.y{
    color:greenyellow ;
}
.q{
    background:aqua ;
}
.w{
    color: blue;
}
.e{
    background: chartreuse;
}
.r{
    color: yellow;
}
.u{
    background: darkkhaki;
}
.o{
    color:rgb(150, 123, 84)
}